.loader {
  width: 4rem;
  height: 4rem;
  margin: auto;
  border-radius: 50%;
  border: 8px solid lightgrey;
  animation: _360degAnimation 900ms linear infinite;
}

@keyframes _360degAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
