.bottomNavigator {
  background-color: #220646;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bottomTabBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d9f4ff;
  margin-inline: 2rem;
  cursor: pointer;
  text-decoration-line: none;
  padding-block: 10px;
  border-top: solid 3px transparent;
}
.activeTab{
  border-top: solid 3px yellow;
  color: white;
}